:root{
    --azul-escuro: #0F2C64;
    --branco: #fff;
    --azul-roxo: #1852FE;
    --cinza: #aaa;
    --azul-marinho: #1852FE;
    --roxo-claro: #C795C6;
    --roxo-escuro: #924490;
    --verde-claro: #7FA552;
    --verde-escuro: #63783F;
    --cinza-verde: #B9CEA0;
    --card: #EBEFEE;


    --border-radius-lg: 16px;

    --sombra: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

}