.container{
    background-color: var(--verde-claro);
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    position: relative;
}


.areaElementos{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 20rem;
}


.titulo{
    color: var(--branco);
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 2rem;
    margin-left: 3rem;
    align-self: flex-start;
}


.texto{
    color: var(--branco);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}


.inputCodigo{
    background-color: var(--cinza);
    border: none;
    border-radius: var(--border-radius-lg);
    padding: 1rem 1.5rem;
    width: 600px;
    height: 350px;
    font-size: 1.2rem;
    color: var(--branco);
    outline: none;
    resize: none;
}

.botao{
    background-color: var(--verde-escuro);
    color: var(--branco);
    font-size: 1.5rem;
    border: none;
    border-radius: 12px;
    padding: 0.8rem 0; 
    width: 200px; 
    cursor: pointer;
    transition: filter 0.2s;
    box-shadow: var(--sombra);
}


.botao:hover {
    filter: brightness(1.1);
}


.grupoBotoes {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
    align-items: center;
    margin-top: 1rem;
}
