.container{
    background-color: var(--verde-claro);
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}


.areaMenu{
    flex: 1; 
    display: flex;
    align-items: flex-start; 
    justify-content: center; 
    padding: 2rem;
}

.menuLista{
    display: flex;
    flex-direction: column;
    gap: 2rem; 
    width: 100%;
    max-width: 600px;
}


.menuItem{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
    background: none;
    border: none;
    text-align: left;
}


.menuItem:hover {
    transform: translateX(10px); 
    opacity: 0.9;
}

.circuloItem {
    background-color:var(--cinza); 
    width: 110px;
    height: 110px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    color: var(--verde-escuro); 
}


.texto {
    font-size: 2rem; 
    color: var(--branco);
    font-weight: 500;
    font-family: Abhaya Libre SemiBold;
}
